<div class="container">

  
<br>
<br>

<div *ngIf="task">
  <h2>
    {{task[0].taskName}}
  </h2>

<ul class="list-group">
    <!-- <li class="list-group-item">Name : {{task.taskId}}</li> -->
    
    <li class="list-group-item">task Id:{{task[0].taskId}}</li>
    <li class="list-group-item">Task Name : {{task[0].taskName}}</li>
    <li class="list-group-item">Task Client Name : {{task[0].taskClientName}}</li>
    <li class="list-group-item">Task Handler Name : {{task[0].taskHandler}}</li>
    <li class="list-group-item">Task description: {{task[0].taskDesc}}</li>
</ul>
</div>
<br>
<a class="btn btn-primary"  		routerLink="/showtask">Go Back</a> 
</div>
